.toast-container {
    z-index: 1099; /* Ensure it's above other content */
  }
  
  .toast {
    opacity: 1; /* Ensure visibility when using Angular's show logic */
  }
  .toggle-btn {
    width: 1.5rem; /* Set a fixed width */
    height: 1.5rem; /* Set a fixed height */
    color: white;
    transition: all 0.3s ease;
  }
  
  .toggle-btn:hover {
    transform: scale(1.1);
  }
  
  