.toast-container {
    z-index: 1099; /* Ensure it's above other content */
  }
  
  .toast {
    opacity: 1; /* Ensure visibility when using Angular's show logic */
  }
  .toggle-btn {
    width: 1.5rem; /* Set a fixed width */
    height: 1.5rem; /* Set a fixed height */
    color: white;
    transition: all 0.3s ease;
  }
  
  .card-body{
    padding: 1px 1px;
  }
  .toggle-btn:hover {
    transform: scale(1.1);
  }
  .card-header {
    //margin-top: -6px !important;
    padding: 0px !important;
  }
  ::ng-deep .compact-pagination {
    font-size: 12px; /* Smaller font size */
    margin: 0; /* Remove outer margin */
    padding: 0; /* Remove any internal padding */
    display: inline-flex; /* Ensure compact alignment */
    justify-content: center; /* Center within the container */
  }
  
  ::ng-deep .compact-pagination .page-item {
    margin: 0 1px; /* Minimal horizontal spacing between items */
  }
  
  ::ng-deep .compact-pagination .page-item .page-link {
    padding: 2px 6px; /* Minimal padding for smaller buttons */
    font-size: 12px; /* Small text */
    line-height: 1; /* Reduce vertical height */
    border-radius: 2px; /* Slightly rounded edges for compact buttons */
  }
  
  ::ng-deep .compact-pagination .page-item.active .page-link {
    background-color: #007bff; /* Active button background */
    color: white; /* Active button text color */
    border-color: #007bff;
  }
  
  ::ng-deep .compact-pagination .page-item .page-link:hover {
    background-color: #e9ecef; /* Hover effect */
    text-decoration: none;
  }
  
  
  
  
  


  
  
  