<!-- ========== Left Sidebar Start ========== -->

<ng-template #contentTemplate>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
        <!-- {{menuItems}} -->
         <!-- @for(item of menuItems; track $index){
          <ng-container>
            @if(item.isTitle){
              <li class="menu-title">{{ item.label | translate }}</li>
            }
            @if(!item.isTitle && !item.isLayout){
              <li>
                @if(hasItems(item)){
                  <a href="javascript:void(0);" class="is-parent"
                    [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}">
                    @if(item.icon){
                      <i class="bx {{item.icon}}"></i>
                    }
                    <span> {{ item.label | translate }}</span>
                    @if(item.badge){
                      <span class="badge rounded-pill float-end bg-{{item.badge.variant}}">{{item.badge.text | translate}}</span>
                    }
                  </a>
                }

                @if(!hasItems(item)){
                  <a [routerLink]="item.link" class="side-nav-link-ref" routerLinkActive="active">
                    @if(item.icon){
                      <i class="bx {{ item.icon }}"></i>
                    }
                    <span> {{ item.label | translate }}</span>
                    @if(item.badge){
                      <span class="badge rounded-pill bg-{{item.badge.variant}} float-end"> {{item.badge.text | translate}} </span>
                    }
                  </a>
                }
                
                @if(hasItems(item)){
                  <ul class="sub-menu" aria-expanded="false">
                    @for (subitem of item.subItems; track $index) {
                      <li>
                        @if(!hasItems(subitem)){
                          <a [routerLink]="subitem.link" class="side-nav-link-ref"
                            [attr.data-parent]="subitem.parentId" routerLinkActive="active">
                            {{ subitem.label | translate}}
                          </a>
                        }

                        @if(hasItems(subitem)){
                          <a class="side-nav-link-a-ref has-arrow" href="javascript:void(0);"
                            [attr.data-parent]="subitem.parentId">
                            {{ subitem.label | translate}}
                          </a>
                        }
                        @if(hasItems(subitem)){
                          <ul class="sub-menu mm-collapse" aria-expanded="false">
                            @for (subSubitem of subitem.subItems; track $index) {
                              <li>
                                <a [attr.data-parent]="subSubitem.parentId" [routerLink]="subSubitem.link" routerLinkActive="active"
                                  class="side-nav-link-ref">
                                  {{ subSubitem.label | translate }}
                                </a>
                              </li>
                            }
                          </ul>
                        }
                      </li>
                    }
                  </ul>
                }
              </li>
            }        
          </ng-container>
         } -->
         
         <!-- {{menuItems}} mehedi-->

         @for(module of menuList; track $index){
          <ng-container>
            <li class="menu-title">{{ module.moduleName }}</li>
            <li>
              @for(pMenu of module.parentMenus; track $index){
                @if(hasMenus(pMenu)){
                  <a href="javascript:void(0);" class="is-parent"
                    [ngClass]="{'has-arrow': true, 'has-dropdown': true}"
                    >
                    @if(pMenu.menuIconURL){
                      <i class="bx {{pMenu.menuIconURL}}"></i>
                    }
                    <span>{{ pMenu.parentMenuName }}</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                    @for(menu of pMenu.menus; track $index){
                      <li>
                        <a [routerLink]="menu.menuURL" class="side-nav-link-ref"
                          [attr.data-parent]="menu.parentMenuId" routerLinkActive="active">
                          @if(menu.menuIconURL){
                            <i class="bx {{menu.menuIconURL}}"></i>
                          }
                          {{ menu.menuName }}
                        </a>
                      </li>
                    }
                  </ul>
                }
              }
            </li>
          </ng-container>
        }
         <!--  -->
      </ul>
    </div>
  </ng-template>
  <!-- Sidebar -->
  
  <div class="vertical-menu">
    <ngx-simplebar class="h-100" #componentRef>
      @if(!isCondensed){
        <div>
          <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
      }
      @if(isCondensed){
        <div>
          <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
      }
    </ngx-simplebar>
  </div>
  <!-- Left Sidebar End -->