/* Importing Bootstrap SCSS file. */
//@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

// mehedi.it@labaidpharma.com
// customize ng-select height start
.custom-ng-select .ng-select-container {
  min-height: 25px !important;
}
.custom-ng-select.ng-select.ng-select-single .ng-select-container{
  height: 25px !important;
}

.custom-ng-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container{
  padding: 0px !important;
}

.custom-ng-select.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  margin: 2px !important;
}

.ng-dropdown-panel-items .ng-option{
  padding: 4px 6px !important;
}

.ng-select.is-invalid .ng-select-container {
  border: 1px solid #f46a6a !important; /* Bootstrap danger color */
}

// end

