<p-table
  #dt2
  [value]="menus" 
  [paginator]="true" 
  [rows]="5" 
  [totalRecords]="totalRecords" 
  [rowsPerPageOptions]="[5, 10, 20]"
  (onLazyLoad)="loadMenus($event)"
  [globalFilterFields]="['employee.name', 'employee.position', 'employee.salary']"
  >
    <ng-template #caption>
      <div class="flex">
          <p-iconfield iconPosition="left" class="ml-auto">
              <p-inputicon>
                  <i class="pi pi-search"></i>
              </p-inputicon>
              <input
                  pInputText
                  type="text"
                  (input)="dt2.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search keyword"
              />
          </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Salary</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>{{employee.name}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.salary}}</td>
      </tr>
    </ng-template>
  </p-table>
  